body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
    font-size: 16px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    color: deeppink;
    margin: 0 auto;
    max-width: 1200px;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 2px 4px 2px;
    padding: 16px;
    background-color: aquamarine;
}